.wrapper{
    width: 1200px;
    background: #E38282;
 }
 .wrapper_1{
    display: flex;
   justify-content: space-between;
 }
 
 .img{
     width: 676px;
     height: 625px;
 background-image: url(./assets/106345\ 1.svg);
 }
 
 
 
 .wrapper h1 {
     width: 894px;
     color: #A32BCD;
     text-align: center;
     font: 500 96px 'italic';
     margin: auto;
     margin-top: 70px;
 }
 
 .wrapper_2{
     width: 628px;
     display: flex;
 align-items: center;
 }
 
 .inp{
     width: 428px;
     display: flex;
     flex-direction: column;
     background: #D7F9BC;
   margin: 40px;
 }
 
 .wrapper button {
     display: flex;
     align-items: center;
     width: 200px;
     margin: auto;
     padding: 20px;
     border-radius: 15px;
     font: 400 22px 'DM Sans';
     color: #6b4fda;
     background-color: #8893e7;
 
 }