.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
}

.wrapper h1 {
    margin-top: 150px;
    font: 600 32px 'DM Sans';
    color: black;
}

.wrapper button {
    width: 200px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    font: 400 22px 'DM Sans';
    color: black;
}