.wrapper h1 {
    width: 1206px;
    margin-top: 150px;
    text-align: center;
    color: #A32BCD;

text-align: center;
font-family: Inter;
font-size: 96px;
font-style: italic;
font-weight: 400;
line-height: normal;
}

.img{
    width: 839px;
    height: 504px;
    margin: auto;
background-image: url('./assets/a-house-with-a-red-roof-and-a-blue-door_853645-15709\ 1.svg');
}